/* Réinitialisation des styles */
* {
    margin: 10;
    padding: 0;
    box-sizing: border-box;
}

/* Styles pour la bannière */
header {
    background-image: url('images/craig1755_a_banner_for_a_website_pixel_art_heroic_fantasy_a_knight.png');
    background-size: cover;
    background-position: bottom;
    color: #fff;
    text-align: center;
    padding: 90px 0;
    }

.banner h1 {
    font-family: "IM Fell DW Pica", serif;
    font-weight: bold;
    font-size: 70px;
    text-transform: uppercase;
}

.banner p {
    font-family: "IM Fell DW Pica", serif;
    font-size: 40px;
}

/* Styles pour le menu de navigation */
nav ul {
    list-style: none;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
}

nav a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "IM Fell DW Pica", serif;
    font-size: 25px;
}

/* Styles pour le contenu principal */
main {
    padding: 30px;
    font-family: "IM Fell DW Pica", serif;
    font-size: 25px;
    margin-bottom: 20px;
}

h1, h2, h3 {
    font-family: "IM Fell DW Pica", serif;
    font-size: 40px;
}

/* Styles pour les images du bas */
.image-container {
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
}

.image-container img {
    max-width: 50%; 
    height: auto; 
}

/* Styles pour le pied de page */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
